{
  "extends": "airbnb-base",
  "parserOptions": {
    "ecmaVersion": 13,
    "sourceType": "module"
  },
  "rules": {
    "no-console": "off",
    "no-underscore-dangle": ["error", { "allow": ["_id"] }],
    "eol-last": ["error", "never"],
    "import/extensions": "off",
    "import/prefer-default-export": "off",
    "sub": "true"
  }
}